<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

</body>
</html>

<div class="container-fluid"> 	
<div class="row text-center">




</script>
	<meta charset="utf-8">
	<title></title>
	</head>
	<body>


<h1>log in</h1>


<%= form_for (:sessions) do |p| %>

<p>
<%= p.label :email%><br/>
<%= p.email_field :email%>
</p>
<p>
<%= p.label :password%><br/>
<%= p.password_field :password%>
</p>

<p>

<%= p.button :login	%>
</p>
<% end%>
</div>
</div>