<h1> All Matt's Users</h1>

<table class="table table-striped table-border">
	<thead>
		<tr>
			<td>Usernames</td>
			<td>Emails</td>
			<td>Show</td>
			<td>Delete</td>
			
			
		</tr>
	</thead>
	<tbody>
		<% @users.each do |u|%>
	
			<tr>
				<td><%= u.name %></td>
				<td><%= u.email %></td>
				<td><%= link_to 'Show', user_path(u)  %></td>
				<td><%= link_to 'Delete', user_path(u), method: :delete, data: {confirm: "Are you sure?"}  %></td>
				
			</tr>
				
	<% end %>
	</tbody>
</table>

<%= link_to 'Posts', posts_path%>

	
	
		
		
		
